**/.ipynb_checkpoints/
**/__pycache__/
data/
**/arogya_content
**/local_storage
**/*.png
**/img
**/experiment_output
**/experiment_output_long
**/validation_experiment_output
**/imgDet
**/hidden_size_experiment_output
*.pickle
*.zip
**/TEMP
*.pt
**/CONTAINMENTZONE
**/containmentzone2
**/containmentzone3
**/MJGraphs 
**/saved_data
**/saved_mujoco
**/saved_mdiabetes_rl